<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome <%= @user.name %></h1>
    <p>
      Your reservation for <%= @reservation.screening.movie.title %> is confirmed 
    </p>
    </p>
    <p>Thanks for choosing Monte Cinema and have a great day!</p>
  </body>
</html>
